<h2>Login To View Your List of Personal Rituals</h2>
<br>


<form method="POST" action="/login">
<label>Username: <input type="text" name="username"></label>
<label>Password: <input type="password" name="password"></label>
<input type="submit" value="Submit">
</form>
<br>
