<h2>Sign up to begin creating rituals for your well-being and personal growth</h2>

<form method="POST" action="/categories/index">
<label for="username">Username:</label>
<input type="text" id ="name" name="name">
<label for="email">Email: </label>
<input type="text" id="email" name="email">
<label for="password">Password: </label>
<input type="password" id="password" name="password">
<input type="submit" value="Sign Up!">
</form>