<h2>Create a new ritual</h2>
<p>Personal rituals are personal to you. Think of your rituals, as little habits or acts of self-kindness that you do with some frequency. Your personal rituals should help you feel recharged, nourished, and self-supported so that you can greet the world with a sense of clarity and ease.</p>

<form method="POST" action="/rituals">
<br>
    <label>Select an existing category:</label>
    <select name="name" id="category_id">
    <option value="">Select Category</option>
    <% Category.all.each do |c|%>
    <option value="category"><%= c.name %></option>
    <% end%>
    </select>
    <br>
    <label>Or, create a new category:</label>
    <input type="text" name="name">
    <br>
    <label>Ritual Title:<input type="text" name="title"></label>
    <br>
    <label>Description: <input type="text" name="description"></label>
    <br>
    <input type="submit" value="Create New Ritual">
</form>




