<h2>Create a new ritual</h2>
<p>Personal rituals are personal to you. Think of your rituals, as little habits or acts of self-kindness that you do with some frequency. Your personal rituals should help you feel recharged, nourished, and self-supported so that you can greet the world with a sense of clarity and ease.</p>

<form method="POST" action="/rituals">
  <div class="form-group">
    <label for="title">Ritual title</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>
  <% if @category_selected == false %>
    <div class="form-group">
        <label for="category">Select a category</label>
        <select class="form-control" name="category_id">
        <% @categories.each do |c|%>
        <option value ="<%= c.id %>"> <%= c.name %></option>
        <% end%>
        </select>
    </div>
    <div class="form-group">
        <label for="new category">Or, create a new category:</label>
        <input type="text" class="form-control" id="name" name="name">
        </div>
        <% else %>
        <input type="hidden" name="category_id" value="<%= @category_id %>">
        <% end%>
    <div class="form-group">
        <label for="ritual description">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description"></textarea>
    </div>
    <input type="submit" value="Create New Ritual">
</form>


