<div class="container">

    <h2>Welcome to Ritual</h2>
    <h3>Ritual is a web application to help you enhance your mental well-being, physical health, and personal growth.</h3>

    <h3>To see your personal list of well-being rituals,</h3><a href="/login">login.</a>
    <h3>To begin creating your own personal rituals,</h3><a href="/new">sign up.</a>

   
</div>
